.registration-form {
  width: 60%;
  height: 60%;
  margin: auto;
  text-align: center;
  margin-top: 4%;
  padding: 10px;
  margin-bottom: 20px;
  clear: both;
}

label {
  margin-right: 20px;
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
}

select {
  margin-bottom: 10px;
}

.user_avatar {
  width: 10%;
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
}

hr {
  clear: both;
}
